<h1>Stations#show</h1>
<p>Find me in app/views/stations/show.html.erb</p>

<p>Name: <%= @the_station.name %></p>
<p>Info: <%= @the_station.info %></p>

<%= link_to "Edit", edit_station_url(@the_station.id) %>